@page "/Albums"
<div style="position: fixed; width: 100%; background-color: rgba(39, 39, 47, 1); z-index: 9999; padding: 13px; border-top: 1px solid rgb(23, 23, 28);">
    <MudButton Variant="Variant.Filled" Color="Color.Tertiary">Opret Projekt</MudButton>
</div>

<MudGrid Spacing="6" Class="pa-4" style="padding-top: 80px !important;">
        <MudItem Style="min-width: 255px">
            <MudCard>
                <div style="position: relative; padding: 5px">
                    <MudCardMedia Image="https://www.hubspot.com/hs-fs/hubfs/jump-link-same-page_1.webp?width=595&height=400&name=jump-link-same-page_1.webp" Height="200" Style="border-radius: 4px"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Size="Size.Small" Style="position: absolute; top: 10px; right: 10px; background-color: rgba(0,0,0, 0.5)" />
                </div>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Solsikken</MudText>
                    <MudText Typo="Typo.body2">Jhon Doe</MudText>
                    <MudText Typo="Typo.body2">20/12/2024</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

@code {

}
