@page "/photographers"
@using Microsoft.EntityFrameworkCore
@using FotoWebApp.Models
@using FotoWebApp.Data
@inject ApplicationDbContext MyDbContext

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="photographers/create">Create New</a>
</p>

<MudDataGrid Items="@MyDbContext.Photographers.ToList()">
    <Columns>
        <PropertyColumn Property="p => p.PhotographerId" Title="Nr" />
        <PropertyColumn Property="p => p.Name" />
    </Columns>
</MudDataGrid>

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {

    protected override void OnInitialized()
    {
    }

}
